@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
	user-select: none;
}

#random-container {
	color: white;
}

#time {	
	color: white;
	border-radius: 150px;
	
	width: 350px;

	position: absolute; 
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	font-size: 50pt;
	font-family: "Titan One";

	display: flex;
	align-content: center;
	justify-content: center;
}

.random-word { 
	border: 1px solid black;
	font-family: "Titan One";
	font-size: 25pt;
	background-color: white;

	position: absolute;
	
	display: flex;
	justify-content: center;
	
	width: 200px;
}