@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
	user-select: none;

	display: flex;
  	justify-content: center;
  	align-items: center;
	overflow: hidden;

	height: 100vh;
	margin: 0;
}

#random-container {
	color: white;
}

#time {	
	background-color: black;
	color: white;
	border-radius: 150px;
	
	width: 350px;

	font-size: 50pt;
	font-family: "Titan One";

	text-align: center;

	transition: all 1.5s linear;

}

.random-word { 
	border: 1px solid black;
	font-family: "Titan One";
	font-size: 25pt;
	background-color: white;

	position: absolute;
	
	display: flex;
	justify-content: center;
	
	width: 200px;
}